---
layout: archive-splash
---
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

<div class="grid__wrapper">
  {% for post in paginator.posts limit: 6 %}
    {% include archive-single-X.html type="grid4B" %}
  {% endfor %}
</div>

<div>
    <h3 class="archive__subtitle">Cine</h3>
    <div class="grid__wrapper" >
        {% for post in site.categories['cine'] limit: 3 %}
            {% include archive-single-XX.html type="grid" %}
        {% endfor %}
    </div>
    <h2>Ver más</h2>
</div>

<div>
    </div><h3 class="archive__subtitle">La casita de lectura</h3>
    <div class="grid__wrapper" >
        {% for post in site.tags['la casita de lectura'] limit: 4 %}
            {% include archive-single-XX.html type="feature" %}
        {% endfor %}
    </div>
     <h2>Ver más</h2>
</div>

